<main>
    <section>
        <nav>
            <a href = "/">
                <h1>Home</h1>
            </a>
        </nav>

         <div style = "border-radius: 25px;">

            <h2>Shirts</h2>


            {{#if shirts}}

                <ul class = "shirts">

                {{#each shirts}}

                    <li class = "shirtDisplay">
                        <svg width="36" height="36" viewBox="0 0 452 431" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M163.5 13L84 47C84 109.4 104.667 158 116.5 173L119.5 415C186.7 437.8 291.833 424.5 336 415V170C357.2 129.6 364.833 71.1667 366 47L289 13C278 43 264.4 52.2 224 53C183.6 53.8 165.5 27.1667 163.5 13Z" fill="{{this.color.color}}" stroke="black" stroke-width="6"/>
                            <path d="M116 173C73 97.5 91 49.9999 82 47C73 44.0001 13 150 13 150C23.4 162.4 76 184.833 101 194.5L116 173Z" fill={{this.color.color}} stroke="black" stroke-width="6"/>
                            <path d="M334.5 172.5C377.5 96.9999 358.5 51 367.5 48.0001C376.5 45.0002 436 150 436 150C425.6 162.4 377.5 186.833 352.5 196.5L334.5 172.5Z" fill={{this.color.color}} stroke="black" stroke-width="6"/>
                            <path d="M4 165L13.5 149.5C31.1 168.7 79.5 189.333 100.5 195L91 213.5C47.4 202.7 14.8333 175.5 4 165Z" fill="black" stroke="black" stroke-width="6"/>
                            <path d="M447.5 165.5L436 151C418.4 170.2 370.5 186.333 349.5 192L362.5 209.5C406.1 198.7 436.667 176 447.5 165.5Z" fill="black" stroke="black" stroke-width="6"/>
                            <path d="M182.342 5L162 13.3265C163.488 29.3265 182.342 53 226.996 53C275.654 53 289.842 25.4082 291 13.3265L273.138 5C273.469 13.9796 264.704 32.9184 226.996 36.8367C189.288 40.7551 181.515 17.2449 182.342 5Z" fill="#121212" stroke="black" stroke-width="6"/>
                        </svg>
                        <p>size: {{this.size.size}}</p>
                        <p>gender: {{this.gender.gender}}</p>
                        <p>text: {{this.text.text}}</p>
                        <p>color: {{this.color.color}}</p>
                        <br><br><br>
                    </li>
                {{/each}}

                </ul>

            {{/if}}
        </div>

         <form method="post" enctype="application/x-www-form-urlencoded" action="/thankOrder">
            <h3>Information</h3>
            <label class = "formInfo" for="text">
                <p class = "textLabel">First name</p>
                <input class = "textInput" type="text" value="" name="First name" required>

                <p class = "textLabel">Last name</p>
                <input class = "textInput" type="text" value="" name="Last name" required>

                <p class = "textLabel">Phone number</p>
                <input class = "textInput"  type="text" value="" name="Phone number" required>

                <p class = "textLabel">Mail</p>
                <input class = "textInput" type="email" value="" name="Mail" required>

                <p class = "textLabel">Adress</p>
                <input class = "textInput" type="text" value="" name="Adress" required>
            </label><br>

            <a href = "/thankOrder">
                <input class = "buttonInput" type="submit" value = "Buy">
            </a>
        </form>
    </section>
</main>