<main>
    <section>
        <nav>
            <a class="shoppingCart" href="/cart">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px"
                    viewBox="0 0 902.86 902.86" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M671.504,577.829l110.485-432.609H902.86v-68H729.174L703.128,179.2L0,178.697l74.753,399.129h596.751V577.829z
                        M685.766,247.188l-67.077,262.64H131.199L81.928,246.756L685.766,247.188z" />
                            <path d="M578.418,825.641c59.961,0,108.743-48.783,108.743-108.744s-48.782-108.742-108.743-108.742H168.717
                        c-59.961,0-108.744,48.781-108.744,108.742s48.782,108.744,108.744,108.744c59.962,0,108.743-48.783,108.743-108.744
                        c0-14.4-2.821-28.152-7.927-40.742h208.069c-5.107,12.59-7.928,26.342-7.928,40.742
                        C469.675,776.858,518.457,825.641,578.418,825.641z M209.46,716.897c0,22.467-18.277,40.744-40.743,40.744
                        c-22.466,0-40.744-18.277-40.744-40.744c0-22.465,18.277-40.742,40.744-40.742C191.183,676.155,209.46,694.432,209.46,716.897z
                        M619.162,716.897c0,22.467-18.277,40.744-40.743,40.744s-40.743-18.277-40.743-40.744c0-22.465,18.277-40.742,40.743-40.742
                        S619.162,694.432,619.162,716.897z" />
                        </g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                </svg>
            </a>
            <h1>Home</h1>
        </nav>


        <div>

            <h2>Make a shirt</h2>

            <a class="makeShirtBtn" href='/makeShirtInfoUser'>
                <svg width="360" height="340" viewBox="0 0 452 431" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M163.5 13L84 47C84 109.4 104.667 158 116.5 173L119.5 415C186.7 437.8 291.833 424.5 336 415V170C357.2 129.6 364.833 71.1667 366 47L289 13C278 43 264.4 52.2 224 53C183.6 53.8 165.5 27.1667 163.5 13Z"
                        fill="white" stroke="black" stroke-width="6" />
                    <path
                        d="M116 173C73 97.5 91 49.9999 82 47C73 44.0001 13 150 13 150C23.4 162.4 76 184.833 101 194.5L116 173Z"
                        fill="white" stroke="black" stroke-width="6" />
                    <path
                        d="M334.5 172.5C377.5 96.9999 358.5 51 367.5 48.0001C376.5 45.0002 436 150 436 150C425.6 162.4 377.5 186.833 352.5 196.5L334.5 172.5Z"
                        fill="white" stroke="black" stroke-width="6" />
                    <path
                        d="M4 165L13.5 149.5C31.1 168.7 79.5 189.333 100.5 195L91 213.5C47.4 202.7 14.8333 175.5 4 165Z"
                        fill="#121212" stroke="black" stroke-width="6" />
                    <path
                        d="M447.5 165.5L436 151C418.4 170.2 370.5 186.333 349.5 192L362.5 209.5C406.1 198.7 436.667 176 447.5 165.5Z"
                        fill="#121212" stroke="black" stroke-width="6" />
                    <path
                        d="M182.342 5L162 13.3265C163.488 29.3265 182.342 53 226.996 53C275.654 53 289.842 25.4082 291 13.3265L273.138 5C273.469 13.9796 264.704 32.9184 226.996 36.8367C189.288 40.7551 181.515 17.2449 182.342 5Z"
                        fill="#121212" stroke="black" stroke-width="6" />
                </svg>
            </a>
        </div>

        <div style="border-radius: 25px;">

            <h2>Shirts</h2>


            {{#if shirts}}

            <ul class="shirts">

                {{#each shirts}}

                <li class="shirtDisplay">
                    <svg width="36" height="36" viewBox="0 0 452 431" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M163.5 13L84 47C84 109.4 104.667 158 116.5 173L119.5 415C186.7 437.8 291.833 424.5 336 415V170C357.2 129.6 364.833 71.1667 366 47L289 13C278 43 264.4 52.2 224 53C183.6 53.8 165.5 27.1667 163.5 13Z"
                            fill="{{this.color.color}}" stroke="black" stroke-width="6" />
                        <path
                            d="M116 173C73 97.5 91 49.9999 82 47C73 44.0001 13 150 13 150C23.4 162.4 76 184.833 101 194.5L116 173Z"
                            fill={{this.color.color}} stroke="black" stroke-width="6" />
                        <path
                            d="M334.5 172.5C377.5 96.9999 358.5 51 367.5 48.0001C376.5 45.0002 436 150 436 150C425.6 162.4 377.5 186.833 352.5 196.5L334.5 172.5Z"
                            fill={{this.color.color}} stroke="black" stroke-width="6" />
                        <path
                            d="M4 165L13.5 149.5C31.1 168.7 79.5 189.333 100.5 195L91 213.5C47.4 202.7 14.8333 175.5 4 165Z"
                            fill="black" stroke="black" stroke-width="6" />
                        <path
                            d="M447.5 165.5L436 151C418.4 170.2 370.5 186.333 349.5 192L362.5 209.5C406.1 198.7 436.667 176 447.5 165.5Z"
                            fill="black" stroke="black" stroke-width="6" />
                        <path
                            d="M182.342 5L162 13.3265C163.488 29.3265 182.342 53 226.996 53C275.654 53 289.842 25.4082 291 13.3265L273.138 5C273.469 13.9796 264.704 32.9184 226.996 36.8367C189.288 40.7551 181.515 17.2449 182.342 5Z"
                            fill="#121212" stroke="black" stroke-width="6" />
                    </svg>
                    <p>size: {{this.size.size}}</p>
                    <p>gender: {{this.gender.gender}}</p>
                    <p>text: {{this.text.text}}</p>
                    <p>color: {{this.color.color}}</p>
                    <form class="cartBtn" method="POST" enctype="application/x-www-form-urlencoded" action="/cart">
                        <a href="/cart">
                            <input class="buttonCartInput" value="Add to cart" type="submit" type="buy">
                            <input type="hidden" value={{this.id}} name="id">
                            <!--Use ID as value, if you use shirt the object will be read as a string-->
                        </a>
                    </form>
                    <br><br><br>
                </li>
                {{/each}}

            </ul>

            {{/if}}
        </div>

    </section>
</main>